.analysisDetailsPage{
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 18px;
  border-radius: 10px;
  border-right: 4px solid hsl(120, 91%, 45%);
}

.analysisDate{
  padding: 10px;
  margin-bottom: 5px;
}

