.analysisDetailsPage{
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  margin: 18px;
  border-radius: 10px;
  border-right: 4px solid var(--secondaryColor);
}

.analysisDate{
  padding: 10px;
  margin-bottom: 5px;
}

