nav {
position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink {
    all: unset;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    color: rgb(81, 231, 81);

    border-radius: 5px;


    flex: 1;
    height: 100%;
}

.active {
  background-color: orange;
  color: black;
}
