nav {
position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    color: rgb(10, 221, 10);
    border-radius: 5px;
    flex: 1;
    height: 100%;
    transition: all 0.02s;

    -webkit-tap-highlight-color: transparent; /* per rimuovere effetto standard */
    outline: none; /* per rimuovere effetto standard */
}


.navlink-active {
  background-color: black; /* SOLO il tuo stile */
  color: white;

}

.navlink:active {
  background-color: rgb(10, 221, 10);
  color: black;
  
}
