
.optionButton {
    border: 1px solid red;
    border-radius: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    text-decoration:none;
    color: black;
    text-align: center;
}