
.homePage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 16px 90px ;
}


.mainCard {
  display: flex;
  align-items: center; 
  gap: 16px;
  padding: 8px 4px;
}


.welcomeCard {
    margin: 8px 0 16px
}

.welcomeCard p {
      font-size: 0.85rem;
  color: var(--lightText)
}


.homeCard {
    background-color: var(--backgroundColor);
    text-decoration: none;

    border-radius: 16px;
    padding: 18px 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 420px;
    border-left: 4px solid var(--secondaryColor);

    box-shadow: var(--cardShadowStandard);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  
}

.homeCard:active {
  transform: scale(0.97);
  box-shadow: var(--cardShadowStandard);
}

.homeCard.primary {
  border-left-width: 6px;
  box-shadow: var(--cardShadowPrimary)
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardContent strong {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text)
}

.cardContent span {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--lightText);
  line-height: 1.3;
}

.loginCard{
  border-left: 6px solid var(--thirdColor);
}

.suggestedPortfolio {
  color: var(--thirdColor);
  font-size: 1.2rem;
}


