.portfolioDetailsPage{
  border-left: 4px solid var(--secondaryColor);
  margin: 10px;
  padding: 16px 8px;
  background-color: var(--cardBackground);
}

.subscribeButton{
  background-color: var(--secondaryColor);
  text-decoration: none;
  color: var(--text);
  border-radius: 5px;
  font-size: 1.2rem;
  
  display: block;
  text-align: center;
  padding: 10px;
}

.subscribeButton:active{
    background-color: var(--secondaryColor);
    transform: scale(0.90);
}

.helpCard { 
  display: block;
  margin: 20px;
}

.infoCard {
  display: flex;
  flex-direction: column;
}

.contactUsIcon{
  margin-left: auto
}