.FAQsection {

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
    background-color: var(--cardBackground);
    border-radius: 16px;
    margin: 30px;
    min-height: 70dvh;
}

.FAQdetails {
    border-radius: 3px;
    border-top: .5px solid var(--thirdColor);
    border-bottom: .5px solid var(--thirdColor);
    min-height: 8dvh;
    display: flex;
    flex-direction: column;
align-items: center;}

.FAQinfo{
    align-self: baseline;
}