
.profilePage{
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 16px
}

.profileCard{
  border-radius: 5px;
  background-color: var(--cardBackground);
  box-shadow: var(--cardShadowStandard);
  min-height: 95px;
  display: flex;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
}